*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(153, 177, 202);

}
nav{
    display: flex;
    width: 80%;
    margin:auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
#bobo{
    width: 5cm;
    height: 3cm;
}
nav ul li{
    text-decoration: double;
    color: black;
    font-weight: bolder;
}
nav ul li:hover{
    color: maroon;

}
.details{margin-left: 30%;
    margin-right: 30%;
    font-size: 27px;
    color:black;
    margin-bottom: 10px;
    margin-top: 200px;


}
h1{
    font-size: 50px;
    color:maroon
}
span{
    color: red;
}
#insta{
    width: 15px;
    height: 15px;
}
footer{
    
    margin-bottom: 15%;
}
#atag{
    font-size: 30px;
}